<ul>
<% @movies.each do |movie| %>
    <li>
        <strong><%= movie.title %></strong>
        (<%= movie.rating %>):
        <%= total_gross(movie) %>
        <p><%= movie.description%></p>
        <p><%= year_of(movie)%></p>
        <p><%= price(movie)%></p>
    </li>
<% end %>
</ul>

