<ul>
<% @movies.each do |movie| %>
    <li>
        <strong><%= movie.title %></strong>(<%= movie.rating %>):
        <p><%= description(movie)%></p>
        <p><%= year_of(movie)%></p>
        <p><%= price(movie)%></p>
        <p><%= total_gross(movie)%></p>
    </li>
<% end %>
</ul>

